/*   Theme default css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Radley:ital@0;1&display=swap');

@font-face {
  font-family: "Satoshi";
  src: url(../fonts/font/Satoshi-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Satoshi";
  src: url(../fonts/font/Satoshi-Medium.otf);
  font-style: normal;
  font-weight: 500;
}

/* ======font family=========
font-family: 'Inter', sans-serif;
font-family: 'Radley', serif;
font-family: "Satoshi";
*/

:root{
  --thmColor: #56EAEA;
}

body {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Satoshi";
  color: #111827;
}

img{
  max-width: 100%;
}
  
button {
  cursor: pointer; 
}

a:focus,
button:focus {
  text-decoration: none;
  outline: none; }

a:focus,
a:hover {
  color: inherit;
  text-decoration: none; }

a,
button {
  color: inherit;
  outline: medium none; 
  text-decoration: none;
}

button:focus, input:focus, input:focus, textarea, textarea:focus {
  outline: 0; }

 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Radley', serif;
  margin-top: 0px;
  color: #111827;
 }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit; }

h1 {
  font-size: 48px;
  letter-spacing: -0.025em;
  font-feature-settings: 'liga' off;
  color: #111827;
  }

h2 {
  font-size: 36px;
  }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

ul {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }


 
.thm_btn{}

.sec_padding{
  padding: 120px 0;
}
/* default-css END 
================================== */
 
.logo-area {
  text-align: center;
}

.header-area {
  padding: 25px 0;
  width: 100%;
  z-index: 99;
  background: #E1E5E5;
  border-bottom: 0.5px solid #000000;
}
.menu-area nav ul li {
  list-style: none;
  display: inline-block;
}

.menu-area nav ul li a {
  font-size: 16px;
  display: inline-block;
  margin-left: 30px;
  position: relative;
  font-weight: 500;
}

.menu-area nav ul li:first-child a {
    margin: 0;
}
.menu-area{}

.header_right {
    text-align: right;
}

.header_right a {
    font-size: 14px;
    font-weight: 500;
    padding: 12px 24px;
    border: 1px solid #000;
    border-radius: 30px;
    transition: .3s;
}

/* humbergar */
.bar a {
  width: 35px;
  height: 35px;
  float: right;
  position: relative;
} 
.bar a span {
  width: 100%;
  height: 3px;
  background: var(--thmColor);
  display: block;
  position: relative;
  top: 17px;
  border-radius: 30px;
  transition: .3s;
} 
.bar a span:before {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: var(--thmColor);bottom: 10px;border-radius: 30px;transition: .3s;} 
.bar a span:after {left: 0;content: "";position: absolute;width: 100%;height: 100%;background: var(--thmColor);bottom: -10px;border-radius: 30px;transition: .3s;}
 
/* humbarger END */
 

/* mobile-menu START */
.mobile-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  background: #e1e5e5;
  z-index: 99;
  box-shadow: 0px 0px 9px -1px #737373;
  top: 0;
  left: 0;
  transition: .3s;
  margin-left: -400px;
  padding-left: 40px;
  padding-top: 100px;
}
.siteBar{
  margin-left: 0; 
}
.mobile-menu ul#pills-tab {
  margin-top: 90px;
  margin-bottom: 35px !important;
  display: block;
}
.mobile-menu  nav ul li {
  list-style: none;
  display: block;
}

.mobile-menu nav ul li a {
  font-size: 18px;
  line-height: 40px;
  transition: .3s;
}

.mobile-menu a.bars {
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 32px;
}

/* Header section END */


/*============ Area Start =============*/

.hero-area {text-align: center;background: #E1E5E5;padding-top: 100px;overflow: hidden;}
.container {max-width: 1200px;}
.row {
}
.col-lg-12 {
}
.hero_text {max-width: 640px;margin-inline: auto;position: relative;z-index: 1;}

.hero_text:after {
    content: "";
    position: absolute;
    width: 125%;
    max-height: 807px;
    height: 100%;
    background: var(--thmColor);
    border-radius: 53%;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.hero_text a {
    display: block;
    font-size: 14px;
    padding: 12px 32px;
    background: var(--thmColor);
    border: 0.5px solid #000000;
    border-radius: 100px;
    width: max-content;
    margin-inline: auto;
    margin-bottom: 80px;
    transition: .3s;
}

.hero_text a:hover, .mail__box a:hover,.header_right a:hover {
    background: #000;
    color: #fff;
}

.hero_text p {
    font-size: 18px;
    margin-bottom: 2rem;
}

.hero_text h1 {
    font-size: 60px;
    margin-bottom: 1rem;
}
/*============ Area End =============*/


/*============ Area Start =============*/

.defi-area {overflow: hidden;}

.defi-area .row {
    align-items: center;
}
.col-lg-6 {
}
.defi-text {max-width: 550px;}

.defi-text .accordion-button::after {}

.accordion-button:not(.collapsed)::after {
    filter: grayscale(1);
}
.accordion {
}
.accordion-item {border-bottom: 0.5px solid #000000;}
.accordion-header {
}
.accordion-button {border: none;position: relative;letter-spacing: -0.03em;font-feature-settings: 'liga' off;color: #111827;font-size: 24px;font-family: 'Radley';padding: 24px 0;text-align: left;}

.accordion-button img {
    position: absolute;
    left: -40px;
}
.accordion-collapse {
}
.collapse {
}
.show {
}
.accordion-body {padding-left: 0;padding-top: 0;}

.accordion-body p {
    font-size: 18px;
    letter-spacing: -0.03em;
    font-feature-settings: 'liga' off;
}
.collapsed {
}
.defi-img {text-align: right;}
/*============ Area End =============*/


/*============ Area Start =============*/

.partner-Area {
}
.partner_text {text-align: center;}

.partner_text ul {
    margin-top: 100px;
}

.partner_text ul li {
    display: inline-block;
    margin: 0 20px;
}
/*============ Area End =============*/


/*============ Area Start =============*/

.raise-Area {
}
.raise_text {
}
.raise_wrp {
}

.raise_wrp h2 {
    letter-spacing: -0.025em;
    font-feature-settings: 'liga' off;
    color: #111827;
    margin-bottom: 0;
}

.raise_wrp ul li {
    flex: 0 0 50%;
    margin-bottom: 40px;
}

.raise_wrp ul {
    display: flex;
    flex-wrap: wrap;
}

.raise_wrp p {
    color: #111827;
    margin-bottom: 0;
}
/*============ Area End =============*/


/*============ Area Start =============*/

.brand-Logo-Area {
}
.brand-Logo_wrp {border-top: 0.5px solid #000000;padding-top: 40px;}

.brand-Logo_wrp h3 {
    font-size: 30px;
    margin-bottom: 40px;
}

.brand-Logo_wrp ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*============ Area End =============*/


/*============ Area Start =============*/

.protocol-Area {
}
.sec_title {text-align: center;}

.sec_title p {
    font-size: 18px;
    color: #111827;
}
.protocol_logo {text-align: center;margin-top: 100px;}

.protocol_logo ul {}

.protocol_logo ul li {
    display: inline-block;
    margin: 0 15px;
}
/*============ Area End =============*/


/*============ Area Start =============*/

.feature-Area .sec_title {margin-bottom: 70px;}

.feature-Area {
    overflow: hidden;
}
.col-lg-5 {
}
.feature_blk {padding: 20px 0;}

.feature_blk h4 {
    font-size: 24px;
    letter-spacing: -0.03em;
    font-feature-settings: 'liga' off;
    margin-bottom: 32px;
}

.feature_blk span {
    display: block;
    margin-bottom: 24px;
}
.col-lg-2 {
}
.separet {width: .5px;height: 100%;background: black;margin-inline: auto;}
/*============ Area End =============*/


/*============ Area Start =============*/
.contact-area {padding-bottom: 200px;}
.mail__box {max-width: 360px;width: 100%;margin-inline: auto;border: 1px solid #000000;border-radius: 100px;overflow: hidden;position: relative;margin-top: 60px;}

.mail__box a {
    background: var(--thmColor);
    border-radius: 100px;
    padding: 10px 24px;
    position: absolute;
    right: 5px;
    top: 4px;
    transition: .3s;
}

.mail__box input {
    border: none;
    background: no-repeat;
    padding: 14px 24px;
}
.footer-Area {background: #000;color: #fff;padding: 70px 0;}
.footer_content {
}

.footer_content span {
    font-size: 14px;
    color: #D1D5DB;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    display: block;
}

.footer_content p {
    font-family: 'Inter', sans-serif;
}

.footer_content ul li {
    display: inline-block;
    margin-right: 20px;
    font-family: 'Inter', sans-serif;
    transition: .3s;
}

.footer_content ul li:hover {
    color: var(--thmColor);
}

.footer_content > a {
    display: block;
    margin-bottom: 25px;
}
/*============ Area End =============*/